Source: ros-kilted-effort-controllers
Section: misc
Priority: optional
Maintainer: Bence Magyar <bence.magyar.robotics@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-gmock <!nocheck>, ros-kilted-backward-ros, ros-kilted-controller-manager <!nocheck>, ros-kilted-forward-command-controller, ros-kilted-hardware-interface <!nocheck>, ros-kilted-hardware-interface-testing <!nocheck>, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-ros2-control-cmake, ros-kilted-ros2-control-test-assets <!nocheck>, ros-kilted-ros-workspace
Homepage: https://control.ros.org
Standards-Version: 3.9.2

Package: ros-kilted-effort-controllers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-backward-ros, ros-kilted-forward-command-controller, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-ros-workspace
Description: Generic controller for forwarding commands.
